{% load static %}

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- <link rel="manifest" href="site.webmanifest"> -->
<link rel="shortcut icon" type="image/x-icon" href="{% static '' %}img/favicon.png">
<!-- Place favicon.ico in the root directory -->

<!-- CSS here -->
<link rel="stylesheet" href="../../static/css/style.css">
 
<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../static/css/owl.carousel.min.css">
<link rel="stylesheet" href="../../static/css/magnific-popup.css">
<link rel="stylesheet" href="../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/css/themify-icons.css">
<link rel="stylesheet" href="../../static/css/nice-select.css">
<link rel="stylesheet" href="../../static/css/flaticon.css">
<link rel="stylesheet" href="../../static/css/gijgo.css">
<link rel="stylesheet" href="../../static/css/animate.min.css">
<link rel="stylesheet" href="../../static/css/slicknav.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
