{% extends "base_admin.html" %}
{% load bootstrap5 %}
{% block title %}
  Add New Category
{% endblock title %}
{% block slider %}
  {% include "snippts/slider_detail.html" %}
{% endblock slider %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mt-5">Add New Category</h2>
            <hr>          
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto mb-5">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button class="col-12 btn btn-success btn-lg" type="submit">Add</button>
            </form>  
        </div>
    </div>
</div>  
{% endblock content %}
